<!doctype html>
<style>
</style>
<title >CS408 Eureka</title>
<head>
    <meta id="data" data-passcode="{{passcode}}" data-uname="{{uname}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/chat.css">
    <title>Eureka result</title>
  </head>
  <style>
   ul {
     font-size: 16px;
   }
   .top5_list{
     padding-left: :0
     height:220px;
     border: 2px solid #ccc;
     font-family: Arial, sans-serif;
     -webkit-padding-start: 0px;
   }
   .list-others
   {
     overflow-y: scroll;
     height:220px;
     border: 2px solid #ccc;
     font-family: Arial, sans-serif;
     -webkit-padding-start: 0px;
   }
   .flex1 {
  -webkit-flex: 1;
          flex: 1;
	}
	.flex2 {
	  -webkit-flex: 2;
	          flex: 2;
	}
  </style>
  <div>
	<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0; border-radius:0; ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a>Project Eureka</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>
<body style="padding-top:35px;">

<div style="text-align:center">
	<h1> CS408 Eureka </h1>
</div>

<div style="text-align:center">
	섹션을 선택해 주세요 
	<select id="section" size="1" >
		<option selected>==SECTION==</option>
		{% for section in sections %}
			<option value={{section}}>{{section}}</option>
			<!-- <option value={{section}}>APPLICATION MUSIC AND AUDIO</option> -->
		{% endfor%}
	</select>
	<p>
	키워드를 입력하세요(공백으로 구분):
	</p>
	<input type="text" id="keywords"> 	
	<button id="serach_btn" onclick="do_analysis()"> 생성 </button>
	
</div>

<div style="text-align:center;">
	<div id="loader" hidden > loading...</div>
	<div id="result" > </div>
</div>
</body>
<script>
function do_analysis(){
	alert("you just press the button!");
	var keywords = document.getElementById("keywords").value;
	alert(keywords);
	var x = document.getElementById("loader");
	var section = $('#section option:selected').val()
	$('#result').hide();
	$('#loader').show()
	//x.style.display = 'block';
	alert("loading...")
	$.ajax({
		url: "/result",
		type: "GET",
		data: {keys:keywords,selected_section:section},
	    complete: function() {
	    	$('#loader').hide();
    	},
		success: function(response)
		{
			
			$('#result').html(response);
			$('#result').show();
			console.log(response);
		}
	});
}

</script>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>