<!doctype html>
<style>
</style>
<title >CS408 Eureka</title>
<div style="text-align:center">
	<h1> CS408 Eureka </h1>
</div>
<div style="text-align:center">
	섹션을 선택해 주세요 
	<select id="section" size="1" >
		<option selected>==SECTION==</option>
		<option value="GAME_ARCADE">APPLICATION ARCADE</option>
		<option value="MUSIC_AND_AUDIO">APPLICATION MUSIC AND AUDIO</option>
	</select>
	<p>
	키워드를 입력하세요(공백으로 구분):
	<input type="text" id="keywords"> 	
	<button id="serach_btn" onclick="do_analysis()"> 생성 </button>
	
</div>

<div style="text-align:center;">
	<div id="loader" hidden > loading...</div>
	<div id="result" > </div>
</div>


<script>
function do_analysis(){
	alert("you just press the button!");
	var keywords = document.getElementById("keywords").value;
	alert(keywords);
	var x = document.getElementById("loader");
	var section = $('#section option:selected').val()
	$('#result').hide();
	$('#loader').show()
	//x.style.display = 'block';
	alert("loading...")
	$.ajax({
		url: "/result",
		type: "GET",
		data: {keys:keywords,selected_section:section},
	    complete: function() {
	    	$('#loader').hide();
    	},
		success: function(response)
		{
			
			$('#result').html(response);
			$('#result').show();
			console.log(response);
		}
	});
}

</script>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>